.navBar {
  background-color: #4E8397;
  color: rgb(243, 243, 243);
  height: 100px;
  padding-left: 15px;
  position: relative;
}
.navBar > h1 {
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.mainBody {
  padding-top: 10px;
}
.inputForm {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.imageName {

}
.labels {
  display:block;
  margin-bottom: 5px;
}
.inputBox {
  position: relative;
  height: 20px;
  width: 300px;
  border-radius: 5px;
  padding: 1px;
}
.queryInputBox {
  position: relative;
  display: block;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 1px;
}
.OKbutton {
  position: relative;
  background-color: rgb(64, 131, 255);
  color: white;
  margin-left: 0;
  border: solid 2px rgb(1, 24, 100);
  padding: 5px 20px;
  border-radius: 5px;
}
.OKbutton:active {
  background-color:rgb(182, 208, 255);
}
.checkBox {
  position: relative;
  transform: translate(0, 4px);
  margin-left: 15px;
  width: 18px;
  height: 18px;
  border: solid 2px #bcbcbc;
}
.warning {
  margin-top: 5px;
  margin-left: 15px;
  color: red;
  display: none;
}
.submitArea {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 20px;
  align-items: center;
  align-content: center;
}
.resultAreaBox {
  width: 50%;
  margin: 20px;
  padding: 2px;
  align-self: center;
  background-color: rgb(43, 43, 43);
}
.rowDiv {
  background-color: white;
}